<?xml version="1.0"?>
<model>
  <name>uuv_hippocampus</name>
  <version>1.0</version>
  <sdf version='1.6'>uuv_multi_hippocampus.sdf</sdf>

  <author>
   <name>Nathalie Bauschmann</name>
   <email>nathalie.bauschmann@tuhh.de</email>
  </author>
  
  <description>
    Blabla
  </description>
</model>
